:root {
  --primary-color: green;
  --secondary-color: #f1f1f1;
  --tertiary-color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  padding: 12px;
  background-color: var(--primary-color);
  border-bottom: solid 20px var(--tertiary-color);
}

main {
  position: relative;
}

#card-1,
#card-2 {
  position: relative;
  background-color: var(--secondary-color);
  padding: 30px 20px;
  border-bottom: solid 1px #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-1 ul,
#card-2 ul {
  list-style: none;
  margin-top: 10px;
}

#card-1 ul:nth-child(1) li,
#card-2 ul:nth-child(1) li {
  text-align: right;
  margin-right: 0.5rem;
  font-weight: 500;
}

#card-1 h2,
#card-2 h2 {
  text-align: center;
}
#card-1 #card-1-data-container,
#card-2 #card-2-data-container {
  display: flex;
  justify-content: center;
}
header h1 {
  color: white;
  text-align: center;
}
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

main #hero {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

#weather-svg {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #card-1 {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  #card-2 {
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
  #card-1 h2,
  #card-2 h2 {
    position: absolute;
    width: 90%;
    color: white;
    text-align: left;
    left: -8px;
    top: 16px;
    background-color: var(--primary-color);
    padding: 8px;
  }
  #card-1 #card-1-data-container,
  #card-2 #card-2-data-container {
    justify-content: flex-start;
  }
  #card-1 ul,
  #card-2 ul {
    margin-top: 60px;
  }
  #weather-svg {
    display: none;
  }
  #card-2 h2::after {
    content: "⛅";
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
